.portfolio-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 15%;
    li {
      cursor: pointer;
      position: relative;
      text-align: center;
      margin: 0 10px;
      transition: all 0.3s ease-in-out;
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -2px;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: var(--primaryColor);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover {
        color: var(--primaryColor);
        &:after {
          width: 120%;
          left: -10%;
        }
      }
    }
  }
}
.grid {
  padding: 10px;
  position: relative;
  width: 100%;
}
.grid-item {
  position: relative;
  width: 24%;
  margin: 5px 0;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.grid-sizer {
  width: 1%;
}
.is-selected {
  color: var(--primaryColor);
  &:after {
    width: 120% !important;
    left: -10% !important;
  }
}

@media screen and (max-width: 1250px) {
  .grid-item {
    max-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    max-width: 100%;
  }
}
