.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  @extend .flexRow;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--fixedWidth);
  margin: auto;
}
.noDecoration {
  text-decoration: none !important;
  list-style: none !important;
}
