.flexRow, .flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--fixedWidth);
  margin: auto;
}

.noDecoration {
  text-decoration: none !important;
  list-style: none !important;
}

.container .header {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header h3 {
  font-size: 1.2rem;
  color: var(--primaryColor);
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container .header h1 {
  font-size: 3rem;
  margin: 30px 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.container .header h1 span {
  font-weight: 600;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

.container .header h1 span span {
  color: #eca4fa;
}

.container .header p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  width: 40%;
  line-height: 1.8rem;
  text-align: center;
  margin: 10px 0;
}

.container .quote {
  margin: auto;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .quote h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
}

.container .quote p {
  margin: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: rgba(255, 255, 255, 0.8);
}

.container .services {
  padding: 100px 0;
  width: 60%;
  margin: auto;
}

.container .services .service {
  width: 100%;
}

.container .services .service h2 {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: var(--primaryColor);
}

.container .services .service p {
  margin: 15px 0;
  line-height: 1.8rem;
  width: 80%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 1.1rem;
}

@media screen and (max-width: 1600px) {
  .container .header p {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .container .quote h1 {
    font-size: 1.5rem;
  }
  .container .services {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .container .header p {
    text-align: left;
  }
  .container .quote h1 {
    font-size: 1.2rem;
  }
  .container .services {
    width: 80%;
  }
  .container .services .service p {
    width: 100%;
  }
  .container .header p {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container .quote {
    padding: 5px;
  }
  .container .quote h1 {
    font-size: 1rem;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container .services {
    width: 90%;
  }
  .container .services .service p {
    width: 100%;
  }
  .container .header p {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .container .header,
  .container .services {
    padding: 50px 0;
  }
}
/*# sourceMappingURL=About.module.css.map */