@import "../../assets/CSS/Common.scss";

.container {
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgb(34, 34, 34);
  padding: 50px;
  z-index: 100000;
  .imageContainer {
    max-width: 80%;
    width: fit-content;
    max-height: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 80vh;
      width: auto;
      height: auto;
    }
    .title {
      align-self: flex-start;
      padding: 10px;
      h2 {
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }
  .iconBtn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate3d(10px, 50%, 0);
    i {
      color: white;
    }
  }
  .nextImage {
    left: auto;
    right: 10px;
    transform: translate3d(auto, 50%, 10px);
  }
}

.notOpen {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.open {
  opacity: 1;
}
