.flexRow, .flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--fixedWidth);
  margin: auto;
}

.noDecoration {
  text-decoration: none !important;
  list-style: none !important;
}

.container {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 50px;
  z-index: 100000;
}

.container .imageContainer {
  max-width: 90vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.container .imageContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .imageContainer iframe {
  width: 70vw;
  height: 80vh;
  -webkit-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
}

.container .imageContainer .title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .imageContainer .title h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
}

.container .iconBtn {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 10000;
}

.container .iconBtn i {
  color: white;
}

.container .nextImage {
  left: auto;
  right: 10px;
  top: 50%;
}

.notOpen {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.open {
  opacity: 1;
}

.loadingText {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .imageContainer {
    max-width: 90% !important;
    max-height: 90vh !important;
  }
  .imageContainer iframe {
    height: 60vh !important;
    width: 90vw !important;
  }
  .imageContainer img {
    max-height: 95vh !important;
  }
}
/*# sourceMappingURL=Modal.module.css.map */