@import "../../assets/CSS/Common.scss";

.container {
  justify-content: space-between;
  flex-direction: row;
  height: 10vh;
}
.navLinks {
  justify-content: space-between;
  width: 30%;
  .navLink {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      color: var(--primaryColor);
    }
  }
}
.logo {
  img {
    max-width: 200px;
    min-width: 100px;
    width: auto;
  }
}
.mobileDevice {
  display: none;
}
.navLinksMobile {
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  right: -100%;
  transform: translate3d(100%, 0, 0);
  background: black;
  z-index: 50;
  transition: all 0.6s ease-in-out;
  .navLink {
    margin: 50px 0;
    &:nth-child(1) {
      align-self: center;
    }
  }
}
.ham {
  z-index: 10000;
  .bar {
    height: 3px;
    width: 30px;
    margin: 6px 0;
    background: var(--primaryColor);
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }
  .bar:nth-child(1) {
    transform-origin: top;
  }
}
.clicked {
  .bar {
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -7px);
    }
  }
}
.sidebar {
  right: 0;
  transform: translate3d(0, 0, 0);
}
.inactive {
  right: -100%;
  transform: translate3d(100%, 0, 0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (min-width: 2560px) {
  .navLinks {
    width: 40%;
    .navLink {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .navLinks {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .largeDevice {
    display: none;
  }
  .mobileDevice {
    display: block;
  }
  .navLinksMobile {
    display: flex !important;
    padding: 20%;
  }
}
