.flexRow, .flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--fixedWidth);
  margin: auto;
}

.noDecoration {
  text-decoration: none !important;
  list-style: none !important;
}

.container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  padding: 10px;
}

.navLinks {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.navLinks .navLink {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navLinks .navLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: var(--primaryColor);
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navLinks .navLink:hover {
  color: var(--primaryColor);
}

.navLinks .navLink:hover:after {
  width: 100%;
  left: 0;
}

.logo img {
  max-width: 200px;
  min-width: 100px;
  width: auto;
}

.navLinks .active {
  color: var(--primaryColor) !important;
}

.navLinks .active:after {
  width: 100%;
  left: 0;
}

.mobileDevice {
  display: none;
}

.navLinksMobile {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background: black;
  z-index: 50;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navLinksMobile .navLink {
  margin: 50px 0;
}

.navLinksMobile .navLink:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ham {
  z-index: 10000;
}

.ham .bar {
  height: 3px;
  width: 30px;
  margin: 6px 0;
  background: var(--primaryColor);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.ham .bar:nth-child(1) {
  -webkit-transform-origin: top;
          transform-origin: top;
}

.clicked .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}

.clicked .bar:nth-child(2) {
  opacity: 0;
}

.clicked .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px);
}

.sidebar {
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.inactive {
  right: -100%;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (min-width: 2560px) {
  .navLinks {
    width: 40%;
  }
  .navLinks .navLink {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .navLinks {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .largeDevice {
    display: none;
  }
  .mobileDevice {
    display: block;
  }
  .navLinksMobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 20%;
  }
  .logo img {
    max-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .navLinksMobile {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-height: 700px) {
  .container {
    height: 14vh;
  }
}
/*# sourceMappingURL=Navbar.module.css.map */