@import "../../assets/CSS/Common.scss";

.container {
  justify-content: space-between;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.6);
  height: 8vh;

  .social {
    justify-content: space-between;
    width: 10%;
    i {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .container {
    .social {
      width: 12%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    .social {
      width: 15%;
    }
    height: 10vh;
    padding: 10px 0;
    justify-content: space-between;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    .social {
      width: 30%;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
  }
}
